<html>
<head>
	<title>Table for Two</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
	<script src="scripts/angular-moment-picker/dist/angular-moment-picker.min.js"></script>
	<link href="scripts/angular-moment-picker/dist/angular-moment-picker.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa0elBX4ZaSDSnJ2kG9rhG9VEbWYk7ElU&callback=angular.noop" async defer></script>

	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="javascripts/app.js"></script>
	<script type="text/javascript" src='javascripts/controllers/main.controller.js'></script>
	<script type="text/javascript" src='javascripts/controllers/modal.controller.js'></script>
	<script type="text/javascript" src='javascripts/no.space.filter.js'></script>
	<base href="/">
</head>
<body ng-app="app">
	<div class="row">
		<div class="col-xs-12 view">
			<div class="view" ng-view></div>
		</div>
	</div>
</body>
</html>
<!-- =======

  <div class="row">
      <div id="show-map"class="col"></div>
    </div>
    <div class="col">
    </div>
  </div>

{{#each notifsPosts}}
  <div class="">
    {{this.personGoing}} wants to eat with you!
    <form action="/accept/{{this.personGoingEmail}}/{{this._id}}" method="POST">
      <img class='profile-img' src="http://graph.facebook.com/{{this.personGoingID}}/picture?type=square" alt="">
      <a href="https://www.facebook.com/app_scoped_user_id/{{this.personGoingID}}">View thier facebook profile</a>
      <button type="submit">Accept!</button>
    </form>
    <form action="/delete/{{this.personGoingEmail}}" method="POST">
      <button type="submit">Delete notification</button>
    </form>
  </div>
{{/each}}

<br> -->

<!--<p id="user-name">{{ user.facebook.name }}</p>
<p id="user-id">{{ user.facebook.id }}</p>
<p id="user-email">{{ user.facebook.email }}</p> -->


<!-- <script type="text/javascript">
//  var userName = document.getElementById('user-name').innerHTML;
//  var userID = document.getElementById('user-id').innerHTML;
//  var userEmail = document.getElementById('user-email').innerHTML;

  var posts = {{{ posts }}};

  console.log(posts);

  function initMap() {
    var uluru = {
      lat: -25.363,
      lng: 131.044
    };
    var map = new google.maps.Map(document.getElementById('show-map'), {
      zoom: 10,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }

    for (var i = 0; i < posts.length; i++) {
      addMarker(posts[i]);
    }

    // adds a marker as well as an info box containing the rating of the spot
    function addMarker(post) {

      var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h4 id="firstHeading" class="firstHeading"><img class="profile-img" src="http://graph.facebook.com/'+ post.userID +'/picture?type=square" alt="">'+ post.userName + ' is going to ' + post.name + ' at ' + post.timeGoing + '</h4>'+
      '<div id="bodyContent">'+
      '<form action="/join/' + post._id + '/' + post.userName +'/'+ post.userID + '/' + post.userEmail + '" method="POST">'+
        '<input class="btn btn-warning" type="submit" name="upvote" value="Join them!"/></form><br>'+
      '(posted on '+ post.date +').</p>'+
      '</div>'+
      '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

      var icon = {
        url: "https://i.imgur.com/2b7gHaQ.png", // url
        scaledSize: new google.maps.Size(50, 50)
      };

      var marker = new google.maps.Marker({
         position: post.coords,
         map: map,
         icon: icon
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }

  }

</script>
>>>>>>> origin/backend -->
